<template name="bonusFormForceNotifications">
    {{#if isMailEnabled}}
        <div class="form-group row">
            <div id="forceMailNotifications" class="fa-stack fa-stack-checkbox modal-checkbox {{#if gotMailChecked}}checked{{/if}}">
                <span class="fas fa-square fa-stack-2x background"></span>
                <span class="far fa-square fa-stack-2x border"></span>
                {{#if gotMailChecked}}
                    <span class="fas fa-check fa-stack-1x icon"></span>
                {{/if}}
            </div>
            <label>{{_ "bonus.form.forceNotifications.mail"}}</label>
        </div>
    {{/if}}
    {{#if isPushEnabled}}
        <div class="form-group row">
            <div id="forcePushNotifications" class="fa-stack fa-stack-checkbox modal-checkbox {{#if gotPushChecked}}checked{{/if}}">
                <span class="fas fa-square fa-stack-2x background"></span>
                <span class="far fa-square fa-stack-2x border"></span>
                {{#if gotPushChecked}}
                    <span class="fas fa-check fa-stack-1x icon"></span>
                {{/if}}
            </div>
            <label>{{_ "bonus.form.forceNotifications.push"}}</label>
        </div>
    {{/if}}
</template>
