<template name="filterIndexItemBottomLeaveWorkload">
    <a rel="noopener noreferrer"   class="resultNavigationElement deleteLearned" {{disableIfOffline}}
       title='{{_ "confirm-form-learn.title"}}' data-toggle="modal" data-target="#leaveWorkloadModal"
       data-id="{{this._id}}">
        <span class="fas fa-sign-out-alt" data-id="{{this._id}}"></span>
    </a>
</template>
